@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(203, 180, 224);
    color: white;
    font-family: 'Secular One', sans-serif;

}


.heders {
    height: 200px;
    background-color: rgb(203, 172, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    margin: 20px 10px;
}


a:hover {
    background-color: yellow;
  }


.linkk {
    display: flex;
    margin: auto 80px;
}

a {
    text-decoration: none;
    background-color: #bdafae;
    color: rgb(8, 8, 8);
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}




.pic {
    /* height: x;
    width:600px; */
    width: 98vw;
    height: 800px;
    background-color: rgb(203, 172, 209);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 20px 10px;

    background-image: url(../static/new01.jpg );
    background-repeat: no-repeat;
    background-position: 10% 50%;

}

.divdiv {
    height: 200px;
    width: 750px;
    background-color: rgb(238, 234, 238);
    color: black;
    padding: 16px;
    margin-left: 600px;

}


.continer {

    width: 100vw;
    height: 100vh;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 250px 250px 1fr;
    grid-template-rows: 1fr 250px 250px 1fr;

    gap: 5px;

    padding: 10px;
}


.box {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5px;

    padding: 10px;

}


.box>div {

    border: 1px solid black;
    background-image: url("play-stone-1743645_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
}


.box>div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}


.box>div {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.left {
    width: 400px;
  
    padding: 15px 5px;
    font-family: 'Secular One', sans-serif;
    text-align:right;
} 

.left h1{
    font-size: 50px;
    margin-bottom:1px;

}

.left p{
margin-top:1px;

}

footer{
    height: 400px;
    width: 98vw;
    background-color: rgb(40, 37, 41);
    text-align: center;
    padding: 200px auto;

}

footer p{
    padding: 50px 54px;
}

.email{
    margin: 50px auto;
    width: 250px;
}

input[type=text], select {
    width: 100%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  