<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/GaleryCss.css">
   <link rel="stylesheet" href="../static/MainCss.css">
    <title>Galery Page</title>
    <script src="../static/GaleryJavaScript.js"></script>
</head>
<body class="galery-container">
    <div class="headers">

        <div class="left">
            <h1>חברים לשיתוף</h1>
            <p id="p1">רשת חברתית לשיתוף משחקים</p>

        </div>

        <div>

            <div class="link">

                <a href="UserPage.html">אזור אישי</a>
                <a href="HomePage.html">דף הבית</a>
                <a href="Contact.html">צור קשר</a>
                <a href="GaleryPage.html">גלריית מוצרים זמינים</a>

            </div>

        </div>
    </div>
    <div>
                            		

                            	
                               
        <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="../static/carriage.jpg" alt="Category"></div>

</div></a>
<div class="card-body text-center">
<h4 class="card-title">בובות ועגלות</h4>
<p class="text-muted">גילאי 1-6</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">הצג מוצרים</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
<div class="main-img"><img src="../static/memory games.jpg" alt="Category"></div>

</div></a>
<div class="card-body text-center">
<h4 class="card-title">משחקי זיכרון</h4>
<p class="text-muted">גילאי 10-15</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">הצג מוצרים</a>
</div>
</div>
</div>
</div>
    <footer>

        <p>הזינו מייל והכנסו לרשימת התפוצה שלנו</p>
    
        <div class="email">
            <form action="#">
                <label for="fname">email</label>
                <input type="text" id="fname" name="firstname" placeholder="Your email..">
                <input type="submit" value="Submit">
            </form>
        </div>
    
    </footer>
</body>
</html>