<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CssYoy.css">
    <title>Home Page</title>

</head>

<body>


    <div class="continer">

        <div class="heders">

            <div class="heder">חברים לשיתוף</div>
            <div class="link"> <a href="#">אזור אישי\רישום לאתר</a> </div>

        </div>

        <div class="box">



            <div class="rent">
                <div class="heder">קטלוג הצעצועים</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent1">
                <div class="heder">להעלות צעצוע לאתר</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent2">
                <div class="heder">צור קשר </div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent3">
                <div class="heder">אודות</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>




        </div>


    </div>




</body>

</html>