<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/UserCss.css">
    <link rel="stylesheet" href="../static/MainCss.css">
    <title>User Page</title>
    <script src="../static/UserJavaScript.js"></script>
</head>
<body>
    <div class="headers">

        <div class="left">
            <h1>חברים לשיתוף</h1>
            <p id="p1">רשת חברתית לשיתוף משחקים</p>

        </div>

        <div>

            <div class="link">

                <a href="UserPage.html">אזור אישי</a>
                <a href="HomePage.html">דף הבית</a>
                <a href="Contact.html">צור קשר</a>
                <a href="GaleryPage.html">גלריית מוצרים זמינים</a>

            </div>

        </div>
    </div>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-header">
    <h1>התחברות</h1>
  </div>
  <div class="login-form">
    <h3>מייל</h3>
    <input type="email" placeholder="email"/><br>
    <h3>סיסמה</h3>
    <input type="password" placeholder="Password"/>
    <br>
    <input type="button" value="התחברות" class="login-button"/>
    <br>
    <a class="sign-up">להרשמה</a>
    <br>
    <h6 class="no-access">?שכחת את הסיסמה</h6>
  </div>
</div>
<div class="error-page">
  <div class="try-again">Error: Try again?</div>
</div>
</body>
<footer>

    <p>הזינו מייל והכנסו לרשימת התפוצה שלנו</p>

    <div class="email">
        <form action="#">
            <label for="fname">email</label>
            <input type="text" id="fname" name="firstname" placeholder="Your email..">
            <input type="submit" value="Submit">
        </form>
    </div>

</footer>
</html>
